input[type="email"] {
    box-sizing: border-box;
    width: 100%;
    height: calc(3em + 2px);
    margin: 0 0 1em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1.5em;
    background: #fff;
    resize: none;
    outline: none;
    margin-top: calc(0.5rem + 0.4vw);
    font-family: "Inter Tight", serif;
    transition: all 0.4s;
}

input[type="email"][required]:focus {
    border-color: #000000;
    border: 2px solid #000000;
    font-family: "Inter Tight", serif;
    transition: all 0.4s;
}

input[type="email"][required]:focus + label[placeholder]:before,
input[type="email"][required]:valid + label[placeholder]:before {
    color: #000000;
    transition-duration: 0.2s;
    transform: translate(0, -1.6em) scale(1.0);
    background-color: rgba(255, 255, 255, 0.9);
    font-size: 15px;
    font-weight: bold;
    border: 2px solid #000000;
    font-family: "Inter Tight", serif;
    transition: all 0.4s;

}

input[type="email"][required] + label[placeholder] {
    display: block;
    pointer-events: none;
    line-height: 2em;
    margin-top: calc(-3em - 2px);
    margin-bottom: calc((3em - 1em) + 2px);
    text-align: left;
    font-family: "Inter Tight", serif;
}

input[type="email"][required] + label[placeholder]:before {
    content: attr(placeholder);
    display: inline-block;
    margin: 0 calc(0.7em + 2px);
    padding: 0 4px;  /* Adjust the horizontal padding */
    line-height: 1.1rem;
    color: #898989;
    white-space: nowrap;
    transition: 0.3s ease-in-out;
    background-repeat: no-repeat;
    background-position: center;
    font-family: "Inter Tight", serif;
}